body {
    background-color: #555;
}

.productionCalc {
    color: #ddd;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 55px;
}

.unit {
    background-color: #333;
    /* padding: 5px 0; */
    display: grid;
    grid-template-columns: [name] 120px [oil] 65px [steel] 65px [osr] 65px [total] 65px;
    margin-bottom: 2px;
    align-items: center;
}

.unit > * {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.unit-ARM, .unit-BMR, .unit-BB {
    margin-bottom: 10px;
}

.unit-empty {
    color: #737373;
}

.unit-total {
    font-weight: bold;
}

.unit__name {
    border: 0 none;
    font-size: inherit;
    background: none;
    text-align: left;
    font-weight: bold;
}

.unit__cost {
    color: inherit;
    text-align: center;
    font-size: 42px;
    padding: 5px;
    border-left: 2px solid #999;
    font-weight: bold;
}

.unit__cost_oil {
    /* background-color: #df8f8f; */
    background: linear-gradient(to right, #333, #351616);
}

.unit__cost_steel {
    background: linear-gradient(to right, #333, #0f1034);
}

.unit__cost_osr {
    background: linear-gradient(to right, #333, #37330b);
}

.unit__cost_disabled {
    background: none transparent;
}

.unit__amount {
    border-width: 0 0 0 2px;
    background: none;
    box-sizing: content-box;
    font-weight: bold;
}

.unit-total {
    position: fixed;
    top: 0;
    width: 100vw;
    font-size: 32px;
    border-bottom: 2px solid #555;
}

.unit-total .unit__cost {
    font-size: 32px;
}

.unit-total > * {
    height: 40px;
}

.unit-total .unit__cost_oil {
    background: #351616 none;
}

.unit-total .unit__cost_steel {
    background: #0f1034 none;
}

.unit-total .unit__cost_osr {
    background: #37330b none;
}

.unit-land .unit__shape_inner2,
.unit-air .unit__shape_inner2 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/*          INF ART ARM         */
.unit-land .unit__shape {
    border-radius: 3px;
    overflow: hidden;
}
.unit-land .unit__shape_inner1 {
    border: 3px solid;
}

/*          INF         */
.unit-inf .unit__shape {
    border: 1px solid hsl(49, 83%, 25%);
}
.unit-inf .unit__shape_inner1 {
    border-image: linear-gradient(135deg, hsl(49, 83%, 55%), hsl(30, 83%, 35%), hsl(21, 82%, 15%)) 1;
}
.unit-inf .unit__shape_inner2 {
    border: 1px solid hsl(49, 83%, 55%);
    background: hsl(49, 73%, 45%);
    color: #ffff00;
}

/*          ART         */
.unit-art .unit__shape {
    border: 1px solid hsl(221, 83%, 25%);
}
.unit-art .unit__shape_inner1 {
    border-image: linear-gradient(135deg, hsl(221, 83%, 55%), hsl(221, 83%, 35%), hsl(221, 82%, 15%)) 1;
}
.unit-art .unit__shape_inner2 {
    border: 1px solid hsl(221, 83%, 55%);
    background: hsl(221, 73%, 45%);
    color: rgb(169 219 255);
}

/*          ARM         */
.unit-arm .unit__shape {
    border: 1px solid hsl(131, 53%, 25%);
}
.unit-arm .unit__shape_inner1 {
    border-image: linear-gradient(135deg, hsl(106, 53%, 55%), hsl(131, 53%, 35%), hsl(131, 53%, 15%)) 1;
}
.unit-arm .unit__shape_inner2 {
    border: 1px solid hsl(131, 53%, 55%);
    background: hsl(131, 53%, 45%);
    color: rgb(0 47 0)
}

/*          FTR BMR         */
.unit-air .unit__shape {
    border-radius: 70px;
    overflow: hidden;
}

.unit-air .unit__shape_inner1 {
    border: 4px solid;
    border-radius: 70px;
    overflow: hidden;
}

.unit-air .unit__shape_inner2 {
    border-radius: 70px;
}

/*          FTR         */
.unit-ftr .unit__shape {
    border: 1px solid hsl(131, 53%, 25%);
}
.unit-ftr .unit__shape_inner1 {
    border-image: linear-gradient(135deg, hsl(106, 53%, 55%), hsl(131, 53%, 35%), hsl(131, 53%, 15%)) 1;
    background: linear-gradient(135deg, hsl(106, 53%, 55%), hsl(131, 53%, 35%), hsl(131, 53%, 15%));
}
.unit-ftr .unit__shape_inner2 {
    border: 1px solid hsl(131, 53%, 55%);
    background: hsl(131, 53%, 45%);
    color: rgb(0 47 0);
}

/*          BMR         */
.unit-bmr .unit__shape {
    border: 1px solid hsl(0, 53%, 25%);
}
.unit-bmr .unit__shape_inner1 {
    border-image: linear-gradient(135deg, hsl(0, 53%, 55%), hsl(0, 53%, 35%), hsl(0, 53%, 15%)) 1;
    background: linear-gradient(135deg, hsl(0, 53%, 55%), hsl(0, 53%, 35%), hsl(0, 53%, 15%));
}
.unit-bmr .unit__shape_inner2 {
    border: 1px solid hsl(0, 53%, 55%);
    background: hsl(0, 53%, 45%);
    color: rgb(67 0 0);
}

/*          SEA         */
.unit-sea .unit__shape {
    font-size: 20px;
}
.unit-sea .unit__shape_inner2 {
    width: 50px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.unit-sea .unit__shape {
    position: relative;
    padding: 1px;
}
.unit-sea .unit__shape_inner1 {
    position: relative;
    padding: 3px;
}
.unit-sea .unit__shape_inner2 {
    position: relative;
}

.unit__shape_sea_left0,
.unit__shape_sea_right0 {
    position: absolute;
    top: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
}

.unit__shape_sea_left0 {
    right: 58px;
}
.unit__shape_sea_right0 {
    left: 58px;
}

.unit__shape_sea_left1,
.unit__shape_sea_right1 {
    position: absolute;
    top: 0;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}

.unit__shape_sea_left1 {
    right: 56px;
}
.unit__shape_sea_right1 {
    left: 56px;
    
}

.unit__shape_sea_left2,
.unit__shape_sea_right2 {
    position: absolute;
    top: -1px;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}

.unit__shape_sea_left2 {
    right: 49.5px;
}
.unit__shape_sea_right2 {
    left: 49.5px;
}

/*          SS         */
.unit-ss .unit__shape {
    background: hsl(49, 83%, 25%);
}
.unit-ss .unit__shape_inner1 {
    background: linear-gradient(115deg, hsl(49, 83%, 55%) 30%, hsl(30, 83%, 35%) 50%, hsl(21, 82%, 25%) 70%);
}
.unit-ss .unit__shape_inner2 {
    background: hsl(49, 73%, 45%);
    border-bottom: 1px solid hsl(49, 83%, 55%);
    border-top: 1px solid hsl(49, 83%, 55%);
    color: #ffff00;
}
.unit-ss .unit__shape_sea_left0 {
    border-right: 9px solid hsl(49, 83%, 25%);
}
.unit-ss .unit__shape_sea_right0 {
    border-left: 9px solid hsl(49, 83%, 25%);
}
.unit-ss .unit__shape_sea_left1 {
    border-right: 9px solid hsl(49, 83%, 55%);
}
.unit-ss .unit__shape_sea_right1 {
    border-left: 9px solid hsl(21, 82%, 25%);
    
}
.unit-ss .unit__shape_sea_left2 {
    border-right: 8px solid hsl(49, 73%, 45%);
}
.unit-ss .unit__shape_sea_right2 {
    border-left: 8px solid hsl(49, 73%, 45%);
}

/*          CR         */
.unit-cr .unit__shape {
    background: hsl(221, 83%, 25%);
}
.unit-cr .unit__shape_inner1 {
    background: linear-gradient(115deg, hsl(221, 83%, 55%) 30%, hsl(221, 83%, 35%) 50%, hsl(221, 82%, 15%) 70%);
}
.unit-cr .unit__shape_inner2 {
    background: hsl(221, 73%, 45%);
    border-bottom: 1px solid hsl(221, 83%, 55%);
    border-top: 1px solid hsl(221, 83%, 55%);
    color: rgb(169 219 255);
}
.unit-cr .unit__shape_sea_left0 {
    border-right: 9px solid hsl(221, 83%, 25%);
}
.unit-cr .unit__shape_sea_right0 {
    border-left: 9px solid hsl(221, 83%, 25%);
}
.unit-cr .unit__shape_sea_left1 {
    border-right: 9px solid hsl(221, 83%, 55%);
}
.unit-cr .unit__shape_sea_right1 {
    border-left: 9px solid hsl(221, 82%, 15%);
    
}
.unit-cr .unit__shape_sea_left2 {
    border-right: 8px solid hsl(221, 73%, 45%);
}
.unit-cr .unit__shape_sea_right2 {
    border-left: 8px solid hsl(221, 73%, 45%);
}

/*          CV         */
.unit-cv .unit__shape {
    background: hsl(131, 53%, 25%);
}
.unit-cv .unit__shape_inner1 {
    background: linear-gradient(115deg, hsl(106, 53%, 55%) 30%, hsl(131, 53%, 35%) 50%, hsl(131, 53%, 15%) 70%);
}
.unit-cv .unit__shape_inner2 {
    background: hsl(131, 53%, 45%);
    border-bottom: 1px solid hsl(106, 53%, 55%);
    border-top: 1px solid hsl(106, 53%, 55%);
    color: rgb(0 47 0);
}
.unit-cv .unit__shape_sea_left0 {
    border-right: 9px solid hsl(131, 53%, 25%);
}
.unit-cv .unit__shape_sea_right0 {
    border-left: 9px solid hsl(131, 53%, 25%);
}
.unit-cv .unit__shape_sea_left1 {
    border-right: 9px solid hsl(106, 53%, 55%);
}
.unit-cv .unit__shape_sea_right1 {
    border-left: 9px solid hsl(131, 53%, 15%);
    
}
.unit-cv .unit__shape_sea_left2 {
    border-right: 8px solid hsl(131, 53%, 45%);
}
.unit-cv .unit__shape_sea_right2 {
    border-left: 8px solid hsl(131, 53%, 45%);
}

/*          BB         */
.unit-bb .unit__shape {
    background: hsl(0, 53%, 25%);
}
.unit-bb .unit__shape_inner1 {
    background: linear-gradient(115deg, hsl(0, 53%, 55%) 30%, hsl(0, 53%, 35%) 50%, hsl(0, 53%, 15%) 70%);
}
.unit-bb .unit__shape_inner2 {
    background: hsl(0, 53%, 45%);
    border-bottom: 1px solid hsl(0, 53%, 55%);
    border-top: 1px solid hsl(0, 53%, 55%);
    color: rgb(0 47 0);
}
.unit-bb .unit__shape_sea_left0 {
    border-right: 9px solid hsl(0, 53%, 25%);
}
.unit-bb .unit__shape_sea_right0 {
    border-left: 9px solid hsl(0, 53%, 25%);
}
.unit-bb .unit__shape_sea_left1 {
    border-right: 9px solid hsl(0, 53%, 55%);
}
.unit-bb .unit__shape_sea_right1 {
    border-left: 9px solid hsl(0, 53%, 15%);
    
}
.unit-bb .unit__shape_sea_left2 {
    border-right: 8px solid hsl(0, 53%, 45%);
}
.unit-bb .unit__shape_sea_right2 {
    border-left: 8px solid hsl(0, 53%, 45%);
}

